appnope
backcall
beautifulsoup4
bs4
cached-property
certifi
chardet
commonmark
decorator
dictdiffer
idna
IMDbPY
ipython
ipython-genutils
jedi
lxml
git+https://github.com/jamalex/notion-py.git@refs/pull/352/merge
parso
pexpect
pickleshare
prompt-toolkit
ptyprocess
Pygments
python-slugify
pytz
requests
six
soupsieve
SQLAlchemy
text-unidecode
traitlets
tzlocal
urllib3
wcwidth
